<div class="container mt-12">

    <h2>Consulta de Bancos</h2>

    <form autocomplete="off">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="filtro.nome">
        </div>

        <div class="form-group">
            <label for="sigla">Agência</label>
            <input type="text" class="form-control" name="sigla" id="sigla" [(ngModel)]="filtro.agencia">
        </div>

        <div class="form-group">            
            <button class="btn btn-primary mt-4" (click)="listarBancos()">Pesquisar</button>            
        </div>
    </form>

    <div class="form-group">
        <p-table [value]="bancos" 
            [responsive]="true" 
            [paginator]="true" 
            [rows]="filtro.itensPorPagina" [lazy]="true"
            [totalRecords]="totalRegistros" 
            (onLazyLoad)="aoMudarPagina($event)" #tabela>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Agencia</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th class="col-acoes-header"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-banco>
                <tr>
                    <td>{{ banco.nome }}</td>
                    <td>{{ banco.agencia }}</td>
                    <td>{{ banco.endereco.cidade }}</td>
                    <td>{{ banco.endereco.estado.nome }}</td>
                    <td class="col-acoes" style="text-align: center;">
                        <a pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"
                            [routerLink]="['/banco', banco.codigo]"></a>                        
                        
                        <button style="margin-left: 5px !important;" pButton icon="fa fa-trash" pTooltip="Excluir" 
                            tooltipPosition="top" (click)="confirmarExclusao(banco)"></button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">
                        Nenhuma banco encontrado
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
    <div class="form-group">
        <a href="#" class="btn btn-primary" routerLink="/banco">Novo Banco</a>
    </div>

</div>
