<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estados
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="consulta-estado">Listar</a>
          <a class="dropdown-item" href="estado">Cadastrar</a>          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bancos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="consulta-banco">Listar</a>
          <a class="dropdown-item" href="banco">Cadastrar</a>          
        </div>
      </li>      
    </ul>    
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <app-alert></app-alert>
              <p-growl></p-growl>
              <router-outlet></router-outlet>
              <p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
                <p-footer>
                  <button type="button" pButton icon="fa fa-check" label="Sim"
                    (click)="confirmacao.accept()"></button>
                  <button type="button" pButton icon="fa fa-times" label="Não"
                    (click)="confirmacao.reject()"></button>
                </p-footer>
              </p-confirmDialog>
          </div>
      </div>
  </div>
</div>
