<div class="container mt-3">
    <form [formGroup]="formEstado" (ngSubmit)="onSubmit()">

        <h2>Cadastro de Estados</h2>
      
      <div class="form-group">
        <label for="nome">Nome</label>                
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" name="nome" id="nome" formControlName="nome" required>
        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">Campo nome obrigatório</div>
        </div>
      </div>

      <div class="form-group">
          <label for="sigla">Sigla</label>
          <input type="text" maxlength="2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sigla.errors }" name="sigla" id="sigla" formControlName="sigla" required>
          <div *ngIf="submitted && f.sigla.errors" class="invalid-feedback">
            <div *ngIf="f.sigla.errors.required">Campo sigla obrigatório</div>
        </div>
      </div>
      
        
      <input type="submit" class="btn btn-primary mt-4" value="Salvar">
      <!-- <button class="btn btn-primary mt-4" (click)="salvar()">Salvar</button> -->
      <a href="#" (click)="limpar()" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
    </form>
</div>
